@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
header {
    position:fixed;
    width:100%;
    height: 110px;
    left: 0px;
    top: 0px;
    background-color: #433041;
    backdrop-filter: blur(12.5px);
    border-radius: 20px 20px 0px 0px;
    box-shadow:0px 5px 10px rgb(65, 65, 65); 
    border-style: outset;
    border-width: 1px 0px 0px;
    border-color:rgb(86, 86, 86); 
    border-bottom: 1px solid #FFFFFF20;
    z-index: 1;
}
.logo h2{
    position: absolute;
    width: 124px;
    height: 50px;
    left: 100px;
    top: 30px;
    font-family: 'Send Flowers', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
    
}
.logo h2 + h2 {
    position: absolute;
    width: 124px;
    height: 50px;
    left: 100px;
    top: 30px;

    font-family: 'Send Flowers' cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #D12228;
}
.logo img{
    position:absolute;
    width:65px;
    height:75px;
    left:55px;
    top:1px;
}

h1{   
    font-family: 'Montserrat', sans-serif;
    color:#e9e0dd;
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    padding-top: 5px;    
}


.frame{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0px 129px 0px 0px;
    /*gap:55px;*/

    position: absolute;
    width: 100%;
    height: 85px;
    left: 0px;
    top: 10px;
}
.frame ul {
    display: flex;
    list-style: none;
    gap: 60px;
    
}

.frame a{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    color:#e7dfdb;
}

.colorSvg:hover{
    filter: brightness(0) saturate(100%) invert(90%) sepia(75%) saturate(400%) hue-rotate(3deg) brightness(107%) contrast(104%);
    transform: translate(-3px) scale(1.05);
}
.frame a:hover > img{
    filter: brightness(0) saturate(100%) invert(90%) sepia(75%) saturate(400%) hue-rotate(3deg) brightness(107%) contrast(104%);
    transform: translate(-3px) scale(1.05);
}

.wrap{
	width: 100px;
	margin: 50px auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.tarjeta-wrap{
    padding-top: 100px;
	margin: 10px;
	-webkit-perspective: 800;
	perspective: 800;
}

.tarjeta{
     text-align: center;
    width: 300px;
	height: 450px;
	background: #f5bc77;
	position: relative;
    border-radius:15px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: .7s ease;
	transition: .7s ease;
	-webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
	box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
}
.tarjeta img {
        width: 50%;
        padding-top: 50px;
    
}

.tarjeta p{
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    font-size: 13px;
}

.tarjeta h1{
    font-family: 'Montserrat', sans-serif;
    padding: 25px;
    font-size: 30px;
    color: #d46216;
}
.adelante, .atras{
	width: 100%;
	height: 100%;
	position: absolute;
    
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.adelante p{
	width: 100%;
    font-size: 25px;    
    color: #f6f5f7;
}

.atras{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	padding: 15px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
        
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;

	text-align: center;
	color: #fff;
	font-family: "open sans";
    font-size: 15px;
}

.tarjeta-wrap:hover .tarjeta{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.card1{
	background-image: url(img/1.jpg);
	background-size: cover;
   
}

.card2{
	background-image: url(img/2.jpg);
	background-size: cover;
}

.card3{
	background-image: url(img/3.jpg);
	background-size: cover;
}
.card4{
	background-image: url(img/3.jpg);
	background-size: cover;
}
footer{
    position: absolute;
    width: 100%;
    height: 50px;
    top: 720px;
    background: #433041;
    backdrop-filter: blur(15px);
    font-family: Lora;
    }
    
.derechos{
    top: 284px;
    text-align: center;
    color:aliceblue;
    padding-top: 15px;
}
