
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    background:whitesmoke;
    position: relative;
}

header {
    position:fixed;
    width:100%;
    height: 90px;
    left: 0px;
    top: 0px;
    background:rgba(0,0,0,0.5);
    backdrop-filter: blur(12.5px);
    /*border-radius: 20px 20px 0px 0px;*/
    box-shadow:0px 5px 10px rgb(65, 65, 65); 
    border-style: outset;
    border-width: 1px 0px 0px;
    border-color:rgb(86, 86, 86); 
    border-bottom: 1px solid #FFFFFF20;
    z-index: 1;
}
header::before{
    content:'';
    position:absolute;
    top: 0px;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,transparent,rgba(255,255,255,.4),transparent);
    transition: .5s;
}
header:hover::before{
    left: 100%;
}

.logo img{
    position:absolute;
    width:65px;
    height:75px;
    left:55px;
    top:1px;
}
.logo h2{
    position: absolute;
    width: 124px;
    height: 50px;
    left: 102px;
    top: 31px;
    font-family: 'Send Flowers', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
}

.logo h2 + h2 {
    position: absolute;
    width: 124px;
    height: 50px;
    left: 100px;
    top: 30px;

    font-family: 'Send Flowers';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #D12228;
}

.frame{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0px 129px 0px 0px;
    /*gap:55px;*/

    position: absolute;
    width: 100%;
    height: 85px;
    left: 0px;
    top: 10px;
}
.frame ul {
    display: flex;
    list-style: none;
    gap: 60px;
}

.frame a{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    color:#E45927;
}

.colorSvg{
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(100deg) brightness(105%) contrast(101%);
    width:45px;
    height:45px;
    text-align: center;
    transition: .3s;
}

.colorSvg:hover{
    filter: brightness(0) saturate(100%) invert(90%) sepia(75%) saturate(400%) hue-rotate(3deg) brightness(107%) contrast(104%);
    transform: translate(-3px) scale(1.05);
}
.frame a:hover > img{
    filter: brightness(0) saturate(100%) invert(90%) sepia(75%) saturate(400%) hue-rotate(3deg) brightness(107%) contrast(104%);
    transform: translate(-3px) scale(1.05);
}

.container2{
    position:absolute;
    width: 90%;
    height: 650px;
    margin-left: 5%;
    box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    overflow: hidden;
    animation: animacion2 150s ease-in-out infinite;
    background-size:cover;
}

.exterior{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 650px;
    background:rgba(0, 0, 0, .4);
    border-radius: 20px;
}
@keyframes animacion2 {
    0%,100%{
        background-image: url(../images/fondoMain1C.png);
    }
    25%{
        background-image: url(../imgMain/im8.jpeg);
    }
    50%{
        background-image: url(../imgMain/im1.jpeg);
    }
    75%{
        background-image: url(../imgMain/im3.jpeg);
    }
}

main > h1 {
    position: absolute;
    width: 620px;
    height: 190px;
    left: 25%;
    top: 203px;

    font-family: Great, cursive;
    font-size: 5em;
    text-align: center;

    background: rgb(255,110,162);
background: linear-gradient(45deg, rgba(255,110,162,1) 0%, rgba(255,255,255,0.8155637254901961) 40%, rgba(89,38,85,1) 100%);
    
    letter-spacing: .1em;
    padding: 7px;
    -webkit-background-clip: text;
    -webkit-text-stroke:1px black; color:transparent;
    animation: animacion 12s ease infinite;
}

@keyframes animacion {
    0%{
        background-position: -620px;
    }

    100% {
        background-position: 620px;
    }
}

.pantallaCatalogo{
    position: relative;
    width:1068px;
    height: 380px;
    left: 0px;
    margin:0 auto;
    top:495px;
    display: flex;
    justify-content:flex-end;
}
.textoCatalogo{
    position: absolute;
    width: 662px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: rgba(239, 239, 239, 0.7);
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    z-index: 1;
}
.textoCatalogo img{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 10px;
    top: 1px;
}
.textoCatalogo img + img{
position: absolute;
width: 60px;
    height: 60px;
    left: 40px;
    top: 10px;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.3));
}

.textoCatalogo span{
    position: absolute;
    width: 587px;
    height: 56px;
    left: 75px;
    top: 5px;

    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 27px;
    text-align: center;
    color: #A0A0A0;
}

.textoCatalogo span + span{
    position: absolute;
    width: 587px;
    height: 55px;
    left: 77px;
    top: 6px;

    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 27px;
    text-align: center;
    color: #571D0E;
}

.pantallaVentas{
    position: relative;
    box-sizing: border-box;
    width: 930px;
    height: 300px;
    top: 35px;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 120.69%);
    border: 1px solid rgba(167, 165, 165, 0.5);
    filter: drop-shadow(0px 4px 40px rgba(0, 0, 0, .5));
    backdrop-filter: blur(5px);
    border-radius: 20px;
    
}
.pantallaVentas img:nth-child(1){
    position: relative;
    width: 210px;
    height: 298px;
    left: 0px;
    top: 0px;
    border-radius: 20px 0px 0px 20px;
}

.pantallaVentas img:nth-child(3){
    position: absolute;
    width: 287.04px;
    height: 298px;
    left: 640px;
    top: 1px;
    border-radius: 0px 20px 20px 0px;
}

.cinta1a{
    position: absolute;
    width: 100%;
    height: 48px;
    left: 0px;
    top: 1067px;
    background: #FDC9B1;
}
.cinta1b{
    position: absolute;
    width: 100%;
    height: 24px;
    left: 0px;
    top: 1131px;
    background: #E1987E;
}

.cards{
    position: relative;
    width: 100%;
    height: 352px;
    left: 0px;
    top: 560px;
    
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}
.card{
    border-radius:20px;
    box-shadow:2px 5px 20px black;
    overflow: hidden;

}
.card h2{
    font-family: Lora;
    font-size: 1.45rem;
    font-weight:normal;
    font-style: italic;
    line-height: 25px;
}

.description{
    box-sizing: border-box;
    padding: 8px;
    position: relative;
    background: rgba(19, 19, 19, 0.5);
    backdrop-filter: blur(2px);
    color: white;
    bottom: 60px;
    text-align: center;
    transition: .5s;
}

.card:hover{
    cursor: pointer;
}
.card:hover .description{
    bottom:175px;
    background: black;
}
.card1{
    width: 233px;
    height: 286px;
}
.card1 img{
    width: 233px;
    height: 286px;
    border-radius: 20px;   
}

.card2{
    width: 200px;
    height: 352px;
}
.card2 img{
    width: 200px;
    height: 352px;
    border-radius: 20px;
}
.card3 {
    width: 200px;
    height: 352px;
}    
.card3 img{
    width: 200px;
    height: 352px;
    border-radius: 20px;
}
.card4 {
    width: 233px;
    height: 286px;
}    
.card4 img{
    width: 233px;
    height: 286px;
    border-radius: 20px;
}

.segundasCards{
    position: relative;
    top:740px;
    width: 100%;
}

.segundasCards h2{
    font-family: Lora;
    font-size: 2.5rem;
    font-weight: normal;
    font-style: italic;
    text-shadow: 1px 2px #FFFFFF;
    color:#3b2340;
}

.cinta2b{
    position: absolute;
    width: 100%;
    height: 48px;
    left: 0px;
    top: 220px;
    background: #896380;;
}
.cinta2a{
    position: absolute;
    width: 100%;
    height: 24px;
    left: 0px;
    top: 285px;
    background: #F5CF8E;
}

.fondoTransparente{
    position:absolute;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    width: 82%;
    height: 234px;
    top: 140px;

    background: linear-gradient(110.22deg, rgba(0, 0, 0, 0.34) -1.34%, rgba(153, 153, 153, 0.06) 114.55%);
    border: 1px solid #CDCCCC;
    box-shadow: 0px 4px 4px rgba(29, 29, 29, 0.3);
    backdrop-filter: blur(15px);
    border-radius: 20px;
}

.cards2{
    margin-top: -150px;
    display: flex;
    justify-content:space-evenly ;
    align-items: flex-end;
}
.container{
    display: flex;
    flex-flow: column;
    gap:10px;
}
.card1b{
    width: 300px;
    height: 274px;
}

.card1b img{
    width: 300px;
    height: 274px;
    border-radius: 20px;
}
.txtVainilla{
    width: 300px;
    text-align: center;
}

.card2b{
    width: 300px;
    height: 241px;
    
}

.card2b img{
    width: 300px;
    height: 241px;
    border-radius: 20px;
}

.txtLavanda{
    width: 300px;
    text-align: center;
}

.card3b{
    width: 300px;
    height: 274px;
}

.card3b img{
    width: 300px;
    border-radius: 20px;  
}

.txtJazmin{
    width: 300px;
    text-align: center;
}

.formularioContacto{
    position: absolute;
    width: 665px;
    height: 380px;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    top: 1950px;
    background-color: #382A43;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}
.logoForm{
    position: absolute;
    width: 265px;
    height: 240px;
    left: -110px;
    top: 64px;
    border-radius: 90%;
    background-color: #D896D2;
    box-shadow: -4px 4px 15px rgba(0, 0, 0, 0.25), 4px 4px 15px rgba(255, 255, 255, 0.4);
    box-shadow: -4px 4px 15px 2px rgba(0, 0, 0, 0.25), 4px 4px 15px 2px rgba(255, 255, 255, 0.4);
}
.logF{
    position: absolute;
    top:-18px;
    left: 30px;
    display: flex;
    align-items: flex-end; 
    margin: 0;
    padding: 0;
}
.logF img{
    width: 75px;
    height: 80px;
}
.logF h2{
    font-family: 'Send Flowers', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
    text-shadow: 1px 2px #81750A;
    margin-bottom:-6px;
    margin-left: -20px;
}

.fondoObscuro{
    position: absolute;
    width: 157.44px;
    height: 238px;
    left: 85px;
    top: -12px;
}

.fondoLogo> img{
    position: absolute;
    width: 264px;
    height: 188.86px;
    left: 1px;
    top: 25px;

    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
}

.headerForm{
    width:95%;
    margin-top:10px;
}
.imgText{
    display: flex;
    justify-content: flex-end;
    text-align: center;
    font-family: Merri;
    color: #fff;
}
.headerForm img{
    filter: drop-shadow(2px 2px 5px rgba(255, 255, 255, 0.3));
}

.textHeaderForm h2:nth-child(1){
    font-weight: 400;
    font-size: 35px;
}
.textHeaderForm h2:nth-child(2){
    font-weight: 400;
    font-size: 20px;
}

.formulario{
    position:absolute;
    display: flex;
    flex-direction: column;
    align-self:stretch;
}
.nombres {
    width: 340px;
    height: 75px;
    margin-left: 240px;
    margin-top: 8px;
    font-family: Merri;
    color: #fff;
    font-size:15px;
    display: flex;
    flex-direction: column;
    gap:3px;

}
.nombres input{
    width:100%;
    height: 30px;
    font-size: 15px;
}

.correo{
    width: 340px;
    height: 75px;
    margin-left: 240px;
    margin-top: -18px;
    font-family: Merri;
    color: #fff;
    font-size:15px;
    display: flex;
    flex-direction: column;
    gap:3px;
}
.correo input{
    width: 100%;
    height: 30px;
    font-size: 15px;
}
.mensaje{
    width: 340px;
    height: 120px;
    margin-left: 240px;
    margin-top: -18px;
    font-family: Merri;
    color: #fff;
    font-size:15px;
    display: flex;
    flex-direction: column;
    gap:3px;
}
.mensaje textarea{
    width: 100%;
    height: 95px;
    resize: none;
    font-size: 15px;
    padding-top: 5px;
    border-radius: 3px;
}

.btnFormulario{
    width: 340px;
    height: 30px;
    margin-left: 240px;
    margin-top: 10px;
    display: flex;
    justify-content:space-between;
    gap:15px;
}
.btnFormulario a{
    width:60%;
    font-family: Lora;
    font-size: 15px;
    border-radius: 50px;
    background-color: #fff;
    text-align: center;
    color: #000
}
.btnFormulario img{
    width: 20px;
}
.btnFormulario button:nth-child(1){
    width:60%;
    font-family: Lora;
    font-size: 15px;
    border-radius: 50px;
}
/*.btnFormulario button:nth-child(2){
    width:30%;
    font-family: Lora;
    font-size: 15px;
    border-radius: 50px;
}*/

footer{
position: absolute;
width: 100%;
height: 350px;
top: 2410px;
background: #433041;
font-family: Lora;
}

.cinta3b{
    position: absolute;
    width: 100%;
    height: 24px;
    left: 0px;
    top: 326px;

    background: #4B0730;
    opacity: 0.5;
    
}

.cinta3a{
    position: absolute;
    width: 100%;
    height: 28.01px;
    left: 0px;
    top: 302px;

    background: rgba(217, 217, 217, 0.5);
}

.contenidoFooter{
    position: relative;
    display:flex;
    justify-content:space-around;
}

.nosotros{
    width: 300px;
    height: 300px;
    left: 77px;
    top: 0px;
    padding-top:15px;
    color: #fff;
}
.nosotros h2{
    font-size:19px;
}
.lineasFooter1{
    display: flex;
}
.lineasFooter1 hr:nth-child(2){
    width:70%;
}
.lineasFooter1 hr:nth-child(1){
    width:30%;
    border-color: #fe0000;
}

.nosotros > p{
    padding: 5px;
    text-align:justify;
}
.enlace{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.enlace a{
    text-decoration: none;
    color: #fff;
}
.enlace a img{
    width:45px;
    height: 50px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(100deg) brightness(105%) contrast(101%);filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(100deg) brightness(105%) contrast(101%);
}

.direccion{
    width: 300px;
    height: 300px;
    left: 460px;
    top: 0px;
    padding-top: 15px;
    font-family: Lora;
    color: #fff;
}
.direccion h2{
    font-size: 18px;
}
.lineasFooter2{
    display: flex;
}
.lineasFooter2 hr:nth-child(2){
    width:70%;
}
.lineasFooter2 hr:nth-child(1){
    width:30%;
    border-color: #fe0000;
}

.iconoDireccion {
    width: 29px;
    height: 30px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(100deg) brightness(105%) contrast(101%);filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(100deg) brightness(105%) contrast(101%);
}
.iconoContacto{
    padding-top: 15px;
    display: flex;
    align-content:space-between;
    gap:10px; 
}

.sociales{
    width: 300px;
    height: 300px;
    left: 850px;
    top: 0px;
    padding-top:15px;
    font-family: Lora;
    color: #fff;
    font-size: 13px;
}
.lineasFooter3{
    display: flex;
}
.lineasFooter3 hr:nth-child(2){
    width:70%;
}
.lineasFooter3 hr:nth-child(1){
    width:30%;
    border-color: #fe0000;
}
.iconosSociales{
    display: flex;
    justify-content:space-evenly;
    padding-top: 35px;
}
.iconoSociales{
    width: 38px;
    height: 40px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(100deg) brightness(105%) contrast(101%);filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(100deg) brightness(105%) contrast(101%);
}

.derechos{
    position: absolute;
    width: 41%;
    top: 95%;
    left: 29%;
    right: 0;
    margin-left: 0 auto;
    margin-top: 0 auto;
    text-decoration: italic;
    color: #fff;
}
