* {
    box-sizing: border-box;
    /*background-color:#FDC9B1;*/
}

header{
position:fixed;
width:100%;
height: 80px;
left: 0px;
top: 0px;
background:rgba(136, 118, 118, 0.534);
}

h1{   
    font-family: Roboto;
    color:#E45927;
    ;
    font-weight: 400;
    font-size: 35px;
    text-align: center;  
}

ul {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    padding: 0px 80px 0px 0px;
    gap:55px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    
    
    
}

.columna {
    float: left;
    width: 25%;
    padding: 5px;
    padding-top: 120px;
    color: #E45927;
    font-family: Roboto;
    font-size: 20px;
       
}


img {
    /* Para que sea responsiva */
    width: 90%;
    border-radius:20px;
    box-shadow:2px 5px 5px rgb(102, 94, 94);
}

.cinta1b{
    position: relative;
    width: 100%;
    height: 24px;
    left: 0px;
    top: 1131px;
    background: #E1987E;
}
