@font-face {
    font-family: 'Send Flowers';
    src: url(../Fonts/SendFlowers-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../Fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Sen;
    src: url(../Fonts/Sen-Regular.ttf);
}
@font-face {
    font-family: Lora;
    src: url(../Fonts/Lora-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: Merri;
    src: url(../Fonts/Merriweather-Regular.ttf);
}